<% provide(:title, 'Create new auction') %>

<%= form_for(@auction, html: { class: 'single-form wide-form' }) do |form| %>
  <h2 class="heading">Create new auction</h2>

  <%= form.label :title %>
  <%= form.text_field :title, class: 'input-block-level' %>

  <%= form.label :tag_list, 'Tags' %>
  <%= form.text_field :tag_list, class: 'input-block-level' %>

  <%= form.label :content %>
  <%= form.text_area :content, class: 'input-block-level' %>

  <%= form.label :finish_date, 'Expire in' %>
  <%= form.select :finish_date, @auction.days_assoc, {}, class: 'input-block-level' %>

  <%= form.submit 'Create', class: 'btn btn-large btn-primary' %>
<% end %>