<% provide(:title, 'Sign up') %>

<%= form_for(@user, html: { class: 'single-form' }) do |form| %>
  <h2 class="heading">Sign up</h1>

  <%= form.label :name %>
  <%= form.text_field :name, class: 'input-block-level' %>

  <%= form.label :email %>
  <%= form.text_field :email, class: 'input-block-level' %>

  <%= form.label :password %>
  <%= form.password_field :password, class: 'input-block-level' %>

  <%= form.label :password_confirmation, 'Confirm password' %>
  <%= form.password_field :password_confirmation, class: 'input-block-level' %>

  <%= form.submit 'Create my accout', class: 'btn btn-large btn-primary' %> 
<% end %>